In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('dados/dados.csv')
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [3]:
#Serie com renda dos homens
renda_homens = dados.query('Sexo == 0')['Renda']
renda_homens

0         800
3        3500
6        3150
9        1150
13       2000
         ...
76833    1900
76836    1500
76837    1300
76838    1500
76839     900
Name: Renda, Length: 53250, dtype: int64

In [4]:
#Serie com renda das mulheres
renda_mulheres = dados.query('Sexo == 1')['Renda']
renda_mulheres

1         1150
2          880
4          150
5          790
7         1700
         ...
76827    10000
76831    30000
76832     5000
76834     1100
76835      812
Name: Renda, Length: 23590, dtype: int64

In [7]:
#Amostragem aleatoria de 500, media e desvio
amostra_homens = renda_homens.sample(500, random_state=101)
amostra_mulheres = renda_mulheres.sample(500, random_state=101)
media_amostra_homens= amostra_homens.mean()
media_amostra_mulheres = amostra_mulheres.mean()
desvio_amostra_homens = amostra_homens.std()
desvio_amostra_mulheres = amostra_mulheres.std()
print(f'A amostra da Renda dos homens  tem média - {media_amostra_homens.round(2)}, e desvio - {desvio_amostra_homens.round(2)}')
print(f'A amostra da Renda das mulheres  tem média - {media_amostra_mulheres.round(2)}, e desvio - {desvio_amostra_mulheres.round(2)}')

A amostra da Renda dos homens  tem média - 2142.61, e desvio - 2548.05
A amostra da Renda das mulheres  tem média - 1357.53, e desvio - 1569.9

In [12]:
# Calculo estatística do teste
from scipy.stats import norm
alfa = 0.01
beta = 1- alfa
n_h = 500
n_m = 500
d_0 = 0
probabilidade = beta
z_alfa = norm.ppf(probabilidade)
z = ((media_amostra_homens - media_amostra_mulheres) - (d_0)) / np.sqrt((desvio_amostra_homens**2/n_h)+(desvio_amostra_mulheres**2/n_m))
print(f'{z_alfa}, {z}')

2.3263478740408408, 5.8656200577647555

In [13]:
##teste de hipotese
z > z_alfa

True

In [18]:
#exemplo shampoo
##Em testes entre duas amostras n = n1+n2
d_0 = 2
alfa = 0.05
beta = 1-alfa
shampoo_novo = pd.Series([3.4,4.9,2.8,5.5,3.7,2.5,4.3,4.6,3.7,3.4])
shampoo_antigo = pd.Series([0.3,1.2,1.2,1.7,1.1,0.6,1.2,1.5,0.5,0.7])
n_novo = shampoo_novo.shape[0]
n_antigo = shampoo_antigo.shape[0]
graus_de_liberdade = n_novo + n_antigo - 2

In [19]:
from scipy.stats import t as t_student

media_novo = shampoo_novo.mean()
media_antigo = shampoo_antigo.mean()
desvio_novo = shampoo_novo.std()
desvio_antigo = shampoo_antigo.std()
t_alfa = t_student.ppf(beta,graus_de_liberdade)
t = ((media_novo-media_antigo)-(d_0))/np.sqrt((desvio_novo**2/n_novo)+(desvio_antigo**2/n_antigo))
if t > t_alfa:
    print(f'Hipótese nula rejeitada - t: {t.round(4)}, t_alfa {t_alfa.round(4)}')
else:
    print(f'Hipótese nula aceita - t: {t.round(4)}, t_alfa {t_alfa.round(4)}')

Hipótese nula rejeitada - t: 2.6646, t_alfa 1.7341

In [20]:
from statsmodels.stats.weightstats import DescrStatsW, CompareMeans

In [21]:
#primeira solucao com statsmodels
test_h = DescrStatsW(amostra_homens)
test_m = DescrStatsW(amostra_mulheres)
test = test_h.get_compare(test_m)

In [22]:
test.ztest_ind(alternative = 'larger',value=0)

(5.8656200577647555, 2.2372867859458094e-09)

In [24]:
#segunda solucao usando statsmodels

test = CompareMeans(test_h,test_m)
test.ztest_ind(alternative = 'larger',value=0)

(5.8656200577647555, 2.2372867859458094e-09)