In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('dados/dados.csv')
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [3]:
#Serie com renda dos homens
renda_homens = dados.query('Sexo == 0')['Renda']
renda_homens

0         800
3        3500
6        3150
9        1150
13       2000
         ...
76833    1900
76836    1500
76837    1300
76838    1500
76839     900
Name: Renda, Length: 53250, dtype: int64

In [4]:
#Serie com renda das mulheres
renda_mulheres = dados.query('Sexo == 1')['Renda']
renda_mulheres

1         1150
2          880
4          150
5          790
7         1700
         ...
76827    10000
76831    30000
76832     5000
76834     1100
76835      812
Name: Renda, Length: 23590, dtype: int64

In [7]:
#Amostragem aleatoria de 500, media e desvio
amostra_homens = renda_homens.sample(500, random_state=101)
amostra_mulheres = renda_mulheres.sample(500, random_state=101)
media_amostra_homens= amostra_homens.mean()
media_amostra_mulheres = amostra_mulheres.mean()
desvio_amostra_homens = amostra_homens.std()
desvio_amostra_mulheres = amostra_mulheres.std()
print(f'A amostra da Renda dos homens  tem média - {media_amostra_homens.round(2)}, e desvio - {desvio_amostra_homens.round(2)}')
print(f'A amostra da Renda das mulheres  tem média - {media_amostra_mulheres.round(2)}, e desvio - {desvio_amostra_mulheres.round(2)}')

A amostra da Renda dos homens  tem média - 2142.61, e desvio - 2548.05
A amostra da Renda das mulheres  tem média - 1357.53, e desvio - 1569.9

In [8]:
# Calculo estatística do teste
from scipy.stats import norm
alfa = 0.01
beta = 1- alfa
n_h = 500
n_m = 500
d_0 = 0
probabilidade = beta
z_alfa = norm.ppf(probabilidade)
z = ()

SyntaxError: invalid syntax (<ipython-input-8-02fee6152a76>, line 9)